<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>post1Result</title>
  </head>
  <body>
    <h3>post1Result 결과</h3>
    <p>
      아이디 : <%= uid %><br />
      비밀번호 : <%= pass %><br />
    </p>
  </body>
</html>
