<!DOCTYPE html>
<html>
  <head>
    <title>Ch04.node.js+mongodb</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h3>Ch04.node.js+mongodb</h3>
    <a href="/user1/list">list</a>
  </body>
</html>
